<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Results</title>
  </head>
  <body>
    
  <h1>Here is your customized playlist.</h1>
  <br>
  <br>
  <p><%=@the_playlist%></p>
  <!--<p><%=@paramstest%></p>-->
 
   
  </body>
</html>